* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    color: #333;
    text-decoration: none;
}

/********MAIN STYLES********/

div.maxWrapper, section.maxWrapper {
    max-width: 1100px;
    margin: 0 auto;
}

p {
    line-height: 1.4;
}

section {
    padding: 8em 1.5em;
}

section.clippy {
    clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);
}

@supports ((clip-path: polygon(0 0)) or
(-webkit-clip-path: polygon(0 0))) {
    section.clippy, footer.clippy {
        margin-top: -3.4vw;
    }
}

div.headingWrapper {
    text-align: center;
    margin-bottom: 3em;
}

h2.sectHeading {
    font-size: 2.5em;
    font-weight: 300;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

h2.sectHeading::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: -1.5em;
    background-color: #e67e22; 
}

h2.sectHeading::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    right: -1.5em;
    background-color: #e67e22; 
}

h3 {
    font-size: 1.8em;
    margin-bottom: 1em; 
}

@keyframes highlightTarget {
    0% {
       letter-spacing: 8px;
        background-color: goldenrod;
    }
    
    100% {
        letter-spacing: 2px;
        background-color: inherit;
    }
}

section:target h2.sectHeading {
    animation: highlightTarget 1200ms ease-out;
}

/***********HERO SECT*************/
header {
    height: 100vh;
    padding: 1.5em;
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../img/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80% 0; 
}

.fullNavWrapper {
    transition: all 300ms ease-out;
}

.fullNavWrapper.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 100;
    padding-left: 2em;
    padding-right: 2em;
}

div.icons {
    text-align: right;
    margin-right: 3em;
}

.fullNavWrapper.sticky div.icons {
    margin-top: .3em
}

div.icons a {
    display: inline-block;
}

i.fa {
    font-size: 1.2em;
    display: inline-block;
    transition: transform 200ms ease-in;
}

div.icons i.fa:hover {
    transform: scale(1.4);
}

div.icons a:not(:first-child) {
    margin-left: 1em;
}

.fa-facebook-square {
    color: rgb(59, 89, 152);
}

.fa-twitter-square {
    color: rgb(0,182,241);
}

.fa-pinterest-square {
    color: rgb(203,32,39);
}

.fa-instagram {
    color: rgb(195,42,163);
}

div.navWrap {
    margin-top: -1em;
}

nav.navs {
    display: flex;
}

li.logoNav {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

li.logoNav img.logo {
    border-radius: 50%;
    height: 140px;
    width: auto;
    margin-top: -1em;
    opacity: .9;
    transition: all 300ms 300ms;
}

div.fullNavWrapper.sticky li.logoNav img.logo {
    height: 70px;
    width: auto;
    margin-top: 0em;
}

li.logoNav::before {
    font-size: 5em;
    font-weight: 700;
    color: #e67e22;
    font-family: 'Tangerine', cursive;
    position: absolute;
    content: "Elm";
    top: 15%;
    right: 120%;
}

li.logoNav::after {
    font-size: 5em;
    font-weight: 700;
    color: #e67e22;
    font-family: 'Tangerine', cursive;
    position: absolute;
    content: "Belle";
    top: 15%;
    left: 120%;
    z-index: 4;
}

div.fullNavWrapper.sticky li.logoNav::before, div.fullNavWrapper.sticky li.logoNav::after {
    font-size: 3em;
}

nav.navs li:not(.logoNav) {
    margin-top: 2.2em;
}
/***ADDED TO ENSURE LOGO IS CENTERED - FIND A BETER FIX***/
nav.navs li:nth-child(2) {
    padding-right: 5em;
}

div.fullNavWrapper.sticky li:not(.logoNav) {
    margin-top: 1.7em
}

nav.navs li:first-child, nav.navs li:nth-child(4) {
    margin-right: 1.5em;
}

nav.navs a:link, nav.navs a:visited {
    font-size: 1.2em;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 300ms ease-out 50ms;
}

div.fullNavWrapper.sticky nav.navs a:link, div.fullNavWrapper.sticky nav.navs a:visited {
    font-size: 1em;
}

nav.navs a.scrollHighlight {
    color: #e67e22;
}

/*add link and visited pseudo classes to avoid any conflicts!!!*/
nav.navs a:not(.logoAnch):hover {
    border-bottom: 3px solid rgb(230, 126, 34);
}

div.hero--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}

div.hero--text h1 {
    color: #fff;
    font-size: 3.2em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: .5em;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}

div.hero--text h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1em;
}

a.btn:link, a.btn:visited, input[type="submit"] {
    display: inline-block;
    padding: .75em 1.2em;
    border: 1px solid #e67e22;
    border-radius: 999em;
    transition: all 300ms ease-out 50ms;
}

a.btn-full:link, a.btn-full:visited, input[type="submit"] {
    margin-right: 1em;
    color: #fff;
    background-color: #e67e22;
}

a.btn-full:hover, input[type="submit"]:hover {
    background-color: #a25109;
    border: 1px solid #a25109;
}

a.btn-ghost:link, a.btn-ghost:visited {
    color: #e67e22;
}

a.btn-ghost:hover {
    color: #fff;
    background-color: #e67e22;
}

/********INTRODUCTION SECTION********/

div.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em 2em;
    max-width: 90%;
    margin: 0 auto;
}

section.intro p {
    line-height: 1.7;
}

section.intro p + p {
    margin-top: 2em
}

section.intro h3 {
    text-align: center;
}

div.firstImgs {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: all 400ms ease-out;
}

div.firstImgs:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

div.firstImgs img {
    border-radius: 1em;
    display: block;
    width: 100%;
}


/********SERVICES SECTION********/

section.intro {
    background-color: rgba(0,0,0,1);
    color: #fff;
}

p.services-para {
    line-height: 1.7;
    font-size: 1.3em;
    max-width: 80%;
    margin: 0 auto;
    font-weight: 300;
}

div.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.5em;
    margin-top: 3em;
}

div.services--content {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: rgba(0,0,0,.1);
    border-radius: .4em;
}

div.services--content p {
    margin-bottom: 1.5em;
}

div.services--content a.btn {
    margin-top: auto;
    align-self: center;
}

div.services--content i {
    font-size: 250%;
    color: #e67e22;
    margin-bottom: .3em;
}

div.special {
    font-weight: 300;
    margin-top: 3em;
    max-width: 40%;
    padding: 1.5em;
    border-radius: 3em;
    background-image: linear-gradient(#fff, #fefaf0);
    border-top: 10px solid #a00606;
    border-bottom: 10px solid #a00606;
    margin: 3em auto 0 auto;
}

div.special h3 {
    color: #a00606;
    text-align: center;
    font-size: 1.6em
}

/***********GALLERY***********/

section.gallery {
    background-color: #000;
    color: #fff;
}

div.gridThree {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    grid-auto-flow: row dense;
}

div.gridThree img {
    width: 100%;
    height: auto;
}

figure {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #333;
    padding: 10px;
    margin: 5px;
}

figure div.imgWrap {
    display: flex;
    flex-direction: column;
    flex: 1;
}

figure img {
    flex: 1;
    transform: scale(1);
    opacity: .6;
    transition: all 300ms ease-out;
}

figure:hover img {
    transform: scale(1.3);
    opacity: 1;
}

figure.two-span {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

figure div.imgWrap {
    overflow: hidden;
}

figure figcaption {
    text-align: right;
    margin-top: 10px;
    border-top: 1px solid rgba(255,255,255,.5);
    padding-top: 3px;
}

figure div.price {
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    line-height: .7;
    opacity: 0;
    transform: scale(4);
    color: #e67e22;
    transition: all 300ms ease-out;
}

figure:hover div.price {
    opacity: 1;
    z-index: 2;
    transform: scale(1) translate(-50%, -50%);
}

/* DOESNT WORK ON HOVER - POSSIBLE???

figure:hover figure::before {
    content: "$300";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    opacity: 1;
}
*/


/*********TESTIMONIALS**********/

section.testimonials {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/items.jpg);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    color: #fff;
}

div.gridFour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5em;
    margin-top: 120px;
}

div.customer--content {
    background-color: rgba(255,255,255,.4);
    padding: 1.5em;
    border: 5px solid #fff;
    border-radius: 4px;
}

div.userWrap {
    text-align: center;
    margin-top: -107px;
}

img.userPic {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 155px;
    height: auto;
}

h2.user--name {
    margin-top: 1em;
    text-align: center;
    font-weight: 400;
    margin-bottom: .2em;
}

p.user--visits {
    text-align: center;
    margin-bottom: .75em;
}

div.quoteWrap {
    padding: 2em;
    background-color: #e67e22;
    margin-left: -1.5em;
    margin-right: -1.5em;
    clip-path: polygon(0 1em, 100% 0, 100% calc(100% - 1em), 0 100%);
    color: #fff;
}

blockquote {
    margin-bottom: 1em; 
    line-height: 1.4;
    font-weight: 300;
    position: relative;
}

blockquote::before {
    content: "\201C";
    color: rgba(255,255,255,.3);
    font-size: 11em;
    line-height: .5;
    display: block;
    position: absolute;
    top: .05em;
    left: -.22em;
    font-family: sans-serif;
}

cite {
    display: block;
    font-style: italic;
    text-align: right;
    font-weight: 300;
}

/*********APPOINTMENTS FORM**********/
section.appointments {
    
}

form.gridFive {
    display: grid;
    font-family: 'Lato';
    color: #333;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    width: 60%;
    margin: 0 auto;
}

div.form--column:nth-of-type(2n + 1) {
    justify-self: end;
    padding-right: 2em;
    align-self: center;
}

div.submit-column {
    grid-column: 1/-1;
    margin: 2em auto 0 auto;
}

input:not([type="submit"]), select {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: inherit;
}

input:not([type="submit"]):focus, textarea:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,.7);
}

textarea {
    color: inherit;
    height: 100px;
    width: 100%;
    padding: .1em;
    resize: none;
}

form * {
    outline: none;
}

/**************FOOTER*************/

footer {
    padding: 6em 1.5em;
    font-size: .8em;
    background-color: rgba(0,0,0,1);
    color: #888;
    clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 100%);
}

div.footer--copyright {
    text-align: center;
    margin-bottom: 1.5em;
}

p.footer--main {
    margin-bottom: 2em;
}

div.footerNavWrapper {
    display: flex;
    justify-content: space-between;
}

div.footer--icons {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

div.footer--icons i {
    color: #888;
    transition: color 300ms ease-out 50ms;
}

div.footer--icons i:hover {
    color: #fdc;
}

div.footer--navs {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

div.footer--navs a {
    color: #888;
    transition: color 300ms ease-out;
}

div.footer--navs a:hover {
    color: #fdc;
}
