
div.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em 2em;
    max-width: 90%;
    margin: 0 auto;
    
    @include breakpoint(max-width $medium) {
        display: block;
        max-width: none;
    }
}

div.pitch {
    order: -1;
    
    @include breakpoint(max-width $medium) {
        margin-bottom: 2em;
    }
}

section.intro p {
    line-height: 1.6;
}

section.intro p + p {
    margin-top: 1.6em;
}

section.intro h3 {
    text-align: center;
    
    @include breakpoint(max-width $medium) {
        margin-bottom: .2em;
    }
    
    @include breakpoint(max-width $small) {
        margin-bottom: .5em;
    } 
}

div.firstImgs {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: all 400ms ease-out;
    display: flex;
    
    @include breakpoint(max-width $medium) {
        display: block;
        float: left;
        margin-right: .8em;
        margin-bottom: .8em;
        shape-outside: circle();
        clip-path: initial;
        border-radius: 50%;
        overflow: hidden;
        height: 210px;
        width: 210px;
    }
    
    @include breakpoint(max-width $small) {
        float: none;
        overflow: visible;
        max-width: 100%;
        width: auto;
        height: auto;
        shape-outside: none;
        border-radius: 0;
        margin: 0 auto 1.9em auto;
    }
}

div.firstImgs.salonImg {
    float: right;
    margin-left: .8em;
    margin-bottom: .8em;
    
    @include breakpoint(max-width $small) {
        float: none;
        margin: 0 auto 1.5em auto;
    } 
}

div.firstImgs:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
    @include breakpoint(max-width $medium) {
        clip-path: initial;
    }
}

div.firstImgs img {
    border-radius: 1em;
    display: block;
    width: 100%;
    object-fit: cover;
    
    @include breakpoint(max-width $medium) {
        width: 350px;
        height: auto;
        border-radius: none;
        
    }
    
    @include breakpoint(max-width $small) {
        width: 100%;
        height: auto;
        
    }
}

