.fullNavWrapper {
    transition: all 300ms ease-out;
    
    @include breakpoint(max-width $medium) {
        opacity: 0;
        visibility: hidden;
        transform: scale(1.3);
        transform-origin: center bottom;
    }
}

.fullNavWrapper.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 100;
    padding-left: 2em;
    padding-right: 2em;
}

.fullNavWrapper.showMenu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.fullNavWrapper.showMenu div.navWrap {
    margin-top: 2em;
}

.fullNavWrapper.showMenu li.logoNav {
    margin-top: -1.8em;
    margin-bottom: -3.5em;
}

.fullNavWrapper.showMenu div.icons {
    display: none;
}

div.icons {
    margin-right: 3em;
    margin-left: 3em;
    display: flex;
    justify-content: flex-end;
}

.fullNavWrapper.showMenu div.icons a:nth-child(2) {
    margin-right: auto;
}

.fullNavWrapper.sticky div.icons {
    margin-top: .3em;
}

i.fa {
    font-size: 1.2em;
    display: inline-block;
    transition: transform 200ms ease-in;
}

div.icons i.fa:hover {
    transform: scale(1.4);
}

div.icons a:not(:first-child) {
    margin-left: 1em;
}

.fa-facebook-square {
    color: rgb(59, 89, 152);
}

.fa-twitter-square {
    color: rgb(0,182,241);
}

.fa-pinterest-square {
    color: rgb(203,32,39);
}

.fa-instagram {
    color: rgb(195,42,163);
}

div.navWrap {
    margin-top: -1em;
}

nav.navs {
    display: flex;
}

.fullNavWrapper.showMenu nav.navs {
    flex-wrap: wrap;
    justify-content: center;
}

li.logoNav {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    pointer-events: none;
    
    & a {
        pointer-events: all;
    }
}

.fullNavWrapper.showMenu li.logoNav {
    order: -1;
    flex: 0 0 100%;
    text-align: center;
    //margin-left: initial;
    //margin-right: initial;
}

li.logoNav img.logo {
    border-radius: 50%;
    height: 6.25em; //100px @16px
    width: auto;
    margin-top: -1.1em;
    opacity: .9;
    transition: all 300ms 300ms;
}

div.fullNavWrapper.sticky li.logoNav img.logo {
    height: 70px;
    width: auto;
    margin-top: 0;
}

li.logoNav::before {
    font-size: 4em;
    font-weight: 500;
    line-height: .6;
    color: $mainOrange;
    font-family: 'Tangerine', cursive;
    position: absolute;
    content: "Elm";
    top: 20%;
    right: 110%;
    
}

li.logoNav::after {
    font-size: 4em;
    font-weight: 500;
    line-height: .6;
    color: $mainOrange;
    font-family: 'Tangerine', cursive;
    position: absolute;
    content: "Belle";
    top: 20%;
    left: 110%;
}

div.fullNavWrapper.sticky li.logoNav::before, div.fullNavWrapper.sticky li.logoNav::after {
    font-size: 3em;
    top: 30%;
}

nav.navs li:not(.logoNav) {
    margin-top: 1.5em;
}
/***ADDED TO ENSURE LOGO IS CENTERED - FIND A BETER FIX***/
nav.navs li:nth-child(2) {
    padding-right: 5em;  
}

div.fullNavWrapper.showMenu nav.navs li:nth-child(2) {
    padding-right: 0;  
}

div.fullNavWrapper.sticky li:not(.logoNav) {
    margin-top: 1.7em;
}

div.fullNavWrapper.showMenu li:not(.logoNav) {
    flex: 0 0 45%;
    text-align: center;
}

nav.navs li:first-child, nav.navs li:nth-child(4) {
    margin-right: 1.5em;
}

nav.navs a:link, nav.navs a:visited {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: .3125em;
}

nav.navs a:link::after, nav.navs a:visited::after {
    content: '';
    position: absolute;
    right: 50%;
    left: 50%;
    top: 100%;
    border-bottom: 0.125em solid $mainOrange;
    transition: all 300ms ease-out;    
}

/*mgiht need to add link and visited pseudo classes to avoid any conflicts!!!*/
nav.navs a:not(.logoAnch):hover::after {
    left: 0;
    right: 0;
}

div.fullNavWrapper.sticky nav.navs a:link, div.fullNavWrapper.sticky nav.navs a:visited {
    font-size: 1em;
}

nav.navs a.scrollHighlight {
    color: $mainOrange;
}

.hamburger-menu {
    position: absolute;
    z-index: 9999;
    top: 1em;
    right: 1.5em;
    width: 20px;
    height: 19px;
    cursor: pointer;
    display: none;
    
    @include breakpoint(max-width $medium) {
        display: block;
    }
    
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 2px;
        width: 20px;
        background-color: #fff;
        transform-origin: 0 0;
        transition: transform 300ms ease-out;
    }
    
    &__middle {
        position: absolute;
        top: 8px;
        height: 2px;
        width: 20px;
        background-color: #fff;
        transition: all 300ms ease-out;
        transform-origin: 0 50%;
    }
    
    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        height: 2px;
        width: 20px;
        background-color: #fff;
        transform-origin: 0 100%;
        transition: transform 300ms ease-out;
    }
    
}

.animateHamburger {
    
    &::before {
        transform: rotate(45deg) scaleX(1.25);
    }
    
    .hamburger-menu__middle {
       transform: scaleX(0);
        opacity: 0;
    }
    
    &::after {
       transform: rotate(-45deg) scaleX(1.25); 
    }
}

